<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Set karakter set dokumen HTML -->
  <meta charset="UTF-8">

  <!-- Menetapkan kompatibilitas IE dan viewport untuk responsivitas -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Menetapkan judul halaman -->
  <title>Document</title>
</head>
<body>
  <!-- Menggunakan template engine EJS untuk menyisipkan kondisional dalam HTML -->
  <% if (locals.error) { %>
    <!-- Menampilkan pesan kesalahan jika kondisi error terpenuhi -->
    <div style="color: red; margin-bottom: 1rem;">
      Incorrect Password
    </div>
  <% } %>

  <!-- Membuat formulir untuk memasukkan password -->
  <form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
    <!-- Label dan input untuk password -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <!-- Tombol untuk mengirim formulir -->
    <button style="grid-column: span 2;" type="submit">Download</button>
  </form>
</body>
</html>
